input{
    height : 50px;
    border : 1px solid black;
    border-radius : 20px;
    padding-left : 10px;
    margin-bottom : 10px;
    letter-spacing: 2px;
}

#formdiv
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#formButton {
    display: block;
    margin-top: 10px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(255, 252, 92);
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius : 10px;
    padding-left : 20px;
    padding-right : 20px;
}

#formButton:hover
{
    cursor: pointer;
    background: #fff;
    color: #000;
}
