#SearchBooksButton{
    margin-bottom: 5px;
    background: rgb(255, 252, 92);
    color: black;
    text-align: center;
    border-radius : 10px;
}

#SearchBooksButton:hover {
    background : white;
    cursor:pointer;
}

#InputSearchBooks{
    margin-top:10px;
    width : 250px;
}

li{
    padding:5px;
}

#homeButton{
    padding-left :50px;
}

#book{
    color : black;
}